body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.pic1 {
    width: 500px;
    height: 500px;
}
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    height:500px;
    display: flex;
    align-items: center;
    
}

.head-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700px;
    text-align: left;
    
}

 .banner-content {
    padding-left: 197px;

}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

.btn-primary {
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    padding: 20px 43px;
    color: white;
}
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 50px;
}
.flower-section{
    max-width: 1000px;
    margin:0 auto ;

}
.section-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom:30px;

}
.flowers {
   display: flex;
   height:330px;
   padding-left: 100px;
   /* justify-content: space-around; */
   gap:24px
   
}

.flower-block {
    width: 200px;
    height: 200px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 60px 20px 0px 20px;
    text-align: center;
    color: #272727;
    border-radius: 300px 300px 0px 0px;
}
.f1{
    width:200px;
    height:200px;
}
.hot-title{
    color: #272727;
    text-align: center;
    font-size: 40px;  
}
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    height:400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.red{
   height:300px;
}
.hot{
    align-items: center;
}
.instagram-sec{
    max-width: 900px;
    margin:0 auto ;
}
.instagram{
    height:250px;
    display: flex;
    justify-content: space-around;
    margin-bottom:50px;

}
.pic{
    width:200px;
    height:250px;
}
.icon{
    width: 50px; 
 }
.connect{
    height:250px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
}
.social-link {
    padding-left:550px;
    padding-top: 30px;
    
}

.deal{
    max-width: 880px;
    margin:0 auto ;
    background-image: url('./Flower-Asset/Rectangle\ 9.png');
    margin-bottom:50px;
}
.deal-sec{
    height:300px;
   
}
.box{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}
.email{
    width: 500px;
    height: 44px;
}
.footer{
    background-color:#111010;
    height:250px;
    
}
.footer-title{
    color:white;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 40px;
}
.footer-des{
    color:rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom:20px;
}
.last{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.40);
}